<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>New Pokemon</title>
  </head>
  <body>
    <h1>New Pokemon Page</h1>
    <form action="/pokemon/" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" id="name"/>
      <label for="type">Type</label>
      <input type="text" name="type" id="type" />
      <label for="HP Stats">HP Stats</label>
      <input type="value" name="HP Stats" id="hpstats" />
      <input type="submit" value="Create Pokemon">
    </form>
  </body>
</html>